{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}

    <h1>Toutes les catégories disponibles :</h1>
    {% for categorie in categories %}
        <div>
            <h2>{{ loop.index }} / {{ categorie.name}} </h2>
            <a href="{{ path("category_show", { categoryName : categorie.name }) }}">voir la liste</a>
        </div>
    {% else %}
        Aucune catégorie trouvé.
    {% endfor %}

{% endblock %}