{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!{% endblock %}

{% block body %}


<ul>
    <h1>Acteur : {{ actor.name }}</h1>

    {% for actor in actor.programs %}


        <a href="{{ path("program_show", { 'slug': actor.slug}) }}"><li>{{ actor.title }}</li></a>
        <img src="{{ vich_uploader_asset(actor) }}" alt="">

    {% else %}

        <li>Aucun acteur pour cette série</li>

    {% endfor %}

</ul>
{% endblock %}